<div class="main-container">
    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-top-coarse-solid-line border-wide-t-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div>

            <!-- 🚧💡这里是一个个人知识库，用于个人知识信息的存储。 -->
            <center><b>《这是一个个人知识库》</b></center>

            您好，欢迎您的到来，这个网站是一个个人的知识库<sup id="fnref:1"><a href="#fn:1"> 1 </a></sup>网站。

            本网站旨在记录个人知识信息并形成可靠的知识网络，供以后进行查阅等。
            
            <br>
            
            <br>
            <b>引用</b>

            <ol>
                <li id="fn:1"><a href="https://baike.baidu.com/item/%E7%9F%A5%E8%AF%86%E5%BA%93/217934">百度百科</a> <a href="#fnref:1">↩</a></li>
            </ol>
        </div>
    </div>
</div>