<div id="page-donate" class="main-container">
    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-top-coarse-solid-line border-wide-t-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div>
            如果您觉得文章对您有用、并且有价值，可以通过以下途径进行捐助。💓<br>
            {% include setup.html %}

            <div class="panel none-padding none-top-margin">
                <div class="flex">
                
                    <div class="item">
                        <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3 border-right-coarse-solid-line border-left-coarse-solid-line shadow">
                            <div class="title">PayPal</div>
                            <div>
                                您可以通过点击<a href="https://www.paypal.me/xiashuangxi">PayPal</a>的途径来进行捐助。
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3 border-right-coarse-solid-line border-left-coarse-solid-line shadow">
                            <div class="title">支付宝</div>
                            <div>您可以通过支付宝扫描此<a href="{{namespace}}/assets/images/alipay_rqcode.jpg">付款码</a>进行捐助。
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3 border-right-coarse-solid-line border-left-coarse-solid-line shadow">
                            <div class="title">微信</div>
                            <div>您可以通过支付宝扫描此<a href="{{namespace}}/assets/images/wechat_rqcode.jpg">付款码</a>进行捐助。
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>