<div class="main-container">
    <div class="panel horizontal border-bottom-fine-dotted-line">
        💡这里是一个个人知识库，这里提供个人相关技能的知识存储。
    </div>

    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div class="title">符号说明</div>
        <div>🔰这里我将给一些文章添加符号标识。🍕：表示推荐、🚧：表示进行中、⭕：表示废弃、
            🌈：表示有待商榷。
        </div>
    </div>

    {% assign cl = site.data.categories | where: 'parent', 'root' %}
    {% assign cl_size = cl | size %}
    {% if cl_size > 0 %}
    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div class="title">主要分类</div>
        <div>{% include {{ site.data.application.theme }}/lib/categories-panel.html category='root' %}</div>
    </div>
    {% endif %}

    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div class="title">其它文章</div>
        <div>{% include {{ site.data.application.theme }}/lib/categories-panel.html category='其它' %}</div>
    </div>
</div>