
<div class="article-container panel">
    <div class="article-container-inner">
        <div class="article-header">
            <div class="article-header-title">{{page.title}}</div>
        </div>
        
        <div class="article-content">
            <div class="panel vertical float-right none-padding">
                {% if page.toc == true %}
                {% include {{ site.data.application.theme }}/lib/article-toc-js.html title=page.title content=page.content %}            
                {% endif %}

                <!-- {% if page.update_history_show == true %}
                {% include {{ site.data.application.theme }}/lib/update-history.html %}            
                {% endif %} -->
            </div>
            {{page.content}}
        </div>
    </div>
</div>
<script>
    var achor_link = function(name){
        document.querySelector("a[name="+name+"]").scrollIntoView()
    }
    var achor_link_forid = function(id){
        //document.querySelector("#"+id).scrollIntoView();
        document.querySelector("[goto_tag=\""+id+"\"]").scrollIntoView()
        
    }
</script>
