
body{
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.125rem;
    font-family: 'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial,'PingFang SC','Hiragino Sans GB',STHeiti,'Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Micro Hei Mono','WenQuanYi Zen Hei','WenQuanYi Zen Hei Mono',LiGothicMed;
    background-color: #f6f7f8;
}

.hide,
[hide]{
    display: none;
}

.show,
[show]{
    display: block;
}

key{
    border: 1px solid;
    border-radius: 2px;
    user-select: none;
    padding: 0px 4px;
    box-shadow: 1px 1px 2px #4d4d4d;
}

strong {
    font-size: 12px;
}

a{
    cursor: pointer;
    border-bottom: #b98c6f dotted 1px;
    padding-bottom: 1px;
}

a:link,
a:visited,
a:hover  {
    color: #b98c6f;
    text-decoration: none;
}



/* padding */
/* .none-padding {
    padding: 0px;
} */

/* float */
.float-right {
    float: right;
}
.float-left {
    float: left;
}

.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
}
 
.wrapper .main-content {
    padding: 6px 16px;

} 

.header-container{
    display: inline-table;
    position: relative;
    background-color: #ffd7a5;
    width: 100%;
    /* border: 1px solid #b98c6f; */
    border-top: 1px solid #b98c6f;
    border-bottom: 1px solid #b98c6f;
}

.header-container .header-inner {
    position: relative;
    /* padding: 6px 0px; */
}

.header-inner .nav-container {
    position: relative;
    display: flex;
}
.nav-container .left-scope {
    width: 16px;
    border-right: #b98c6f solid 1px;
}
.nav-container .nav {
    display: flex;
    flex-flow: row;
    position: relative;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    border-bottom: 1px solid #b98c6f;
    /* padding: 2px 0px; */
}

.nav li:last-child{
    border-bottom: none;
}

.nav ul a{
    margin: 2px 0px;
    display: flex;
    padding: 2px 4px;
    border-top: #ffd7a5 solid 1px;
    border-bottom: #ffd7a5 solid 1px;
    color: black;
    text-decoration: none;
    line-height: 1rem;
    font-weight: 700;
}
.nav li a:hover{
    background-color: #ffb580;
    border-top: #b98c6f solid 1px;
    border-bottom: #b98c6f solid 1px;
}

.nav .item-subitem {
    position: absolute;
    background-color: #ffd7a5;
    z-index: 999;
    min-width: 150px;
    width: auto;
    white-space: nowrap; /* 不换行 */
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
    border: 1px solid #b98c6f;
}

.item-subitem .subitem-icon{
    max-width: 30px;
    min-width: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.item-subitem .subitem-icon img{
    width: 12px;
}

.nav .item {
    display: flex;
    flex-flow: row;
    height: 100%;
    font-weight: 700;
}

.nav .item a{
    padding: 8px 6px;
    color: black;
    text-decoration: none;
    /*line-height: 1rem;*/
    margin: 0px;

    border-bottom: none;
}
.nav .item .active,
.nav .item a:hover {
    background-color: #b35918;
    color: white;
}

.item .item-split {
    background-color: #b98c6f;
    width: 1px;
    max-width: 1px;
    min-width: 1px;
}

/* .nav a::after{
    border-right: #b98c6f solid 1px;
} */

.flex{
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    flex-flow: row wrap;
    align-items: stretch;
    /* background-color: red; */
}

.flex .item {
    /* flex-grow: 4; */
    width: 20%;
    /* border: 3px solid rgba(0,0,0,.2); */
}


.footer-container {
    display: flex;
    flex-flow: column;
    position: relative;

    background-color: #ffd7a5;
}

.footer-container .footer-inner {
    margin-top: 6px;
    background-color: antiquewhite;
}

.footer-inner .content {
    font-size: 12px;
    margin: 10px 16px;
}

.panel {
    margin: 6px 0px;
    position: relative;
    padding: 6px;
}

.panel.horizontal{
    display: flex;
    flex-flow: row;
}

.panel.vertical {
    display: flex;
    flex-flow: column;
}
.panel.shadow {
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3)
}
.none-padding {
    padding: 0px;
}

.none-top-margin {
    margin-top: 0px;
}

.panel .title{
    background-color: #ffb580;
    margin: -6px -6px 6px -6px;
    padding: 2px;
    font-weight: 700;
}

.border-bottom-fine-dotted-line{
    border-bottom: 1px dashed #ffd7a5;
}

.border-right-coarse-solid-line{
    border-right: 1px solid #ffd7a5;
}

.border-left-coarse-solid-line{
    border-left: 1px solid #ffd7a5;
}
.border-top-coarse-solid-line{
    border-top: 1px solid #ffd7a5;
}

.border-bottom-coarse-solid-line{
    border-bottom: 1px solid #ffd7a5;
}

.border-wide-lr-v-1 {
    border-right-width: 1px;
    border-left-width: 1px;
}
.border-wide-t-3 {
    border-top-width: 3px;
}
.border-wide-v-3 {
    border-bottom-width: 3px;
}



/* .article-container {
    position: relative;
} */

.article-container .article-container-inner {
    display: flex;
    flex-flow: column;
}

.article-container-inner .article-header {
    margin-bottom: 6px;
}

.article-container-inner .article-header .article-header-title {
    font-size: 14px;
    font-weight: 700;
}

p,
pre,
.article-container-inner .article-content blockquote {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.article-container-inner .article-content blockquote {
    border-left: 2px solid #b35918;
    padding: 0px 0px 0px 6px;
    background-color: antiquewhite;
    display: flow-root;
}

code, kbd, pre, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}
.article-content code[class^=highlight] {
    background-color: #fafafa;
    border: 1px solid #07070705;
}

.hljs {
    background-color: #fafafa;
}
.article-content pre[class^=highlight] {
    padding: 0.5em;
    line-height: 14px;
    /* min-height: 2em; */
    background-color: #fafafa;
    border: 1px solid #07070705;
    font-size: 12px;
}

.article-content div[class*=highlighter-rouge] {
    display: flow-root;
}

.article-content img {
    width: 90%;
    display: list-item;
    margin: 1.65rem auto;
}

.article-content table{
    border-collapse:  collapse;
}

.article-content table,
.article-content table tr th,
.article-content table tr td{
    border: black 1px solid;
    padding: 0 2px;
}
.article-container td>code,
.article-container li>code,
.article-container p>code{
    color: #0000ff;
}

.article-container h1{
    /* border-bottom: 1.2px solid black;
    display: flex; */
    /* display: flex;
    background-color: #4d4d4d60; */

    display: flex;
    background-color: #ffd7a5;
    /* padding-left: 6px; */
}
/* .article-container h1, */
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6{
    /* display: inline-block; */
    /* display: table;
    font-size: 120%; */
    /* display: flex; */
    /* padding-bottom: 4px; */
    /* border-bottom: 1px solid black; */
}
/* .article-container h1::after, */
/* .article-container h2::after,
.article-container h3::after,
.article-container h4::after,
.article-container h5::after,
.article-container h6::after{
    content: " ";
    background-color: #ffb580;
    height: 0.5rem;
    width: calc( 100% + 10px );
    display: flex;
    bottom: 8px;
    margin-bottom: -8px;
    z-index: -1;
    position: relative;
    
} */

.article-container-inner .article-content h1,
.article-container-inner .article-content h2,
.article-container-inner .article-content h3,
.article-container-inner .article-content h4,
.article-container-inner .article-content h5,
.article-container-inner .article-content h6 {
    font-size: 13px;
    margin-bottom: 6px;
    /*box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 30%);*/
    padding-left: 4px;
    border-left: 4px solid #b98c6f;
}

.toc-container {
    display: flex;
    position: abstract;
}

/* .toc-container .toc-container-inner{
    margin-top: 2px;
} */

.toc-container-inner ul{
    list-style: none;
    padding: 0px 12px;
    margin: 0px;
}

.toc-container-inner .toc-title{
    font-size: 12px;
    font-weight: 700;
}
.donate-panel {
    position: absolute;
    z-index: 999;
    top: 50px;
    box-shadow: 1px 1px 2px #4d4d4d;
    border: 1px solid #4d4d4d;
    left: calc( calc( 100vw / 2 ) - 125px );
}
.donate-image {
    width: 250px;
    height: auto;
}
.donate-close-btn {
    width: 100%;
    padding: 6px 0px;
    background-color: #d80000;
    text-align: center;
    color: white;
    font-weight: 900;
    user-select: none;
    cursor: pointer;
}

