<!-- <base href="/"> -->
<meta charset="utf-8">

<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<link rel="shortcut icon" type="image/ico" href="{{namespace}}/assets/favicon/favicon.ico" />

<title></title>
{% include {{ site.data.application.theme}}/component/stylesheets.html %}