<div class="header-container">
    <div class="header-inner">
        <div class="nav-container">
            <div class="left-scope"></div>
            <div class="nav">
                {% for menu in site.data.menu %}
                {% if menu.item %}
                <ul>
                    <div class="item" onmouseover="show_subitem('{{menu.name}}')" onmouseout="hide_subitem('{{menu.name}}')">
                        <a>{{menu.name}}</a>
                        <span class="item-split"></span>
                    </div>
                    <div class="item-subitem" sub-id="{{menu.name}}" onmouseover="show_subitem('{{menu.name}}')" onmouseout="hide_subitem('{{menu.name}}')" hide>
                    {% for item in menu.item %}    
                        <li>
                            <a {% if item.outitial %}target="{{item.outitial}}" href="{{item.url}}" {% else %} href="{{namespace}}{{item.url}}" {% endif %} >
                                <div class="subitem-icon">
                                    {% if item.icon %}
                                    <img src="{{namespace}}/assets/images/{{item.icon}}">
                                    {% endif %}
                                </div>
                                <div>
                                    {% if item.mate %} 
                                        <b>{{ item.mate[0].title }} [{{random}}]</b>
                                        <div style="font-weight: 500;">{{ item.mate[0].message }}</div>
                                    {%else%} 
                                        {{ item.name }} 
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </div>
                </ul>
                {% else %}
                <div class="item">
                    <a {% if menu.outitial %} target="{{menu.outitial}}" href="{{menu.url}}" {% else %} href="{{namespace}}{{menu.url}}" {% endif%} >{{menu.name}}</a>
                    <span class="item-split"></span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
<script>
    // window.onload=function (){}

    var show_subitem = function(tag){
        if (tag){
            var subitem = document.querySelector("[sub-id= '"+tag+"']");
            var ishide = subitem.getAttribute('hide');
            if (ishide != null) {
                subitem.removeAttribute('hide');
                subitem.setAttribute('show','');
            }
        }
    }

    var hide_subitem = function(tag){
        if (tag){
            var subitem = document.querySelector("[sub-id= '"+tag+"']");
            var ishide = subitem.getAttribute('show');
            if (ishide != null) {
                subitem.removeAttribute('show');
                subitem.setAttribute('hide','');
            }
        }
    }
</script>