<!-- <script src="{{assets_path}}/scripts/lib/angular.min.js"></script> -->
<script src="{{namespace}}/assets/scripts/lib/jquery.min.js"></script>
<!-- emoji -->
<script src="{{namespace}}/assets/scripts/lib/jQueryEmoji.min.js"></script>
<script src="{{namespace}}/assets/scripts/lib/jQueryEmoji_un.js"></script>
<script src="{{namespace}}/assets/scripts/lib/highlight.min.js"></script>
<script src="{{namespace}}/assets/scripts/lib/dblclick.js"></script>

<script>
	// https://dictionary.cambridge.org/search/direct/p?hello
	// english-chinese-simplified
	// https://dictionary.cambridge.org/spellcheck/english-chinese-simplified/?q=Shuangxi
	setupDoubleClick( 'https://dictionary.cambridge.org/', 'british', false, null, 5, 'popup' )
// $(function(){
// 	$('p').Emoji({
// 		path:  '{{assets_path}}/images/img/emojione/',
// 		class: 'emoji',
// 		ext:   'png'
// 	});
// });

// document.onload = function() {
	hljs.initHighlightingOnLoad();
// }
</script>